@import './global/general', './global/world';

body {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#world-container {
    width: 640px;
    height: 640px;

    border: 2px solid $index_button_normal;
}

.world-button {
    width: $index_button_size;
    height: $index_button_size;
    font-size: $index_button_size;
    color: $index_button_normal;
    transition: all 0.3s ease-in-out;
    
    i {
        cursor: pointer;
    }

    &:hover {
        transform: scale(1.15, 1.15);
    }

    &:active {
        color: $index_button_active;
    }
}
