.world-frame-01 {background: url("./../../img/world/world.jpg") 640px 0;}
.world-frame-02 {background: url("./../../img/world/world.jpg") 1280px 0;}
.world-frame-03 {background: url("./../../img/world/world.jpg") 1920px 0;}
.world-frame-04 {background: url("./../../img/world/world.jpg") 2560px 0;}
.world-frame-05 {background: url("./../../img/world/world.jpg") 3200px 0;}
.world-frame-06 {background: url("./../../img/world/world.jpg") 3840px 0;}
.world-frame-07 {background: url("./../../img/world/world.jpg") 4480px 0;}
.world-frame-08 {background: url("./../../img/world/world.jpg") 5120px 0;}
.world-frame-09 {background: url("./../../img/world/world.jpg") 5760px 0;}
.world-frame-10 {background: url("./../../img/world/world.jpg") 6400px 0;}
.world-frame-11 {background: url("./../../img/world/world.jpg") 7040px 0;}
.world-frame-12 {background: url("./../../img/world/world.jpg") 7680px 0;}
.world-frame-13 {background: url("./../../img/world/world.jpg") 8320px 0;}
.world-frame-14 {background: url("./../../img/world/world.jpg") 8960px 0;}
.world-frame-15 {background: url("./../../img/world/world.jpg") 9600px 0;}
.world-frame-16 {background: url("./../../img/world/world.jpg") 10240px 0;}
.world-frame-17 {background: url("./../../img/world/world.jpg") 10880px 0;}
.world-frame-18 {background: url("./../../img/world/world.jpg") 11520px 0;}
.world-frame-19 {background: url("./../../img/world/world.jpg") 12160px 0;}
.world-frame-20 {background: url("./../../img/world/world.jpg") 12800px 0;}
