.world-frame-0 {background-image: url('../../img/world/frame_00.gif');}
.world-frame-1 {background-image: url('../../img/world/frame_01.gif');}
.world-frame-2 {background-image: url('../../img/world/frame_02.gif');}
.world-frame-3 {background-image: url('../../img/world/frame_03.gif');}
.world-frame-4 {background-image: url('../../img/world/frame_04.gif');}
.world-frame-5 {background-image: url('../../img/world/frame_05.gif');}
.world-frame-6 {background-image: url('../../img/world/frame_06.gif');}
.world-frame-7 {background-image: url('../../img/world/frame_07.gif');}
.world-frame-8 {background-image: url('../../img/world/frame_08.gif');}
.world-frame-9 {background-image: url('../../img/world/frame_09.gif');}
.world-frame-10 {background-image: url('../../img/world/frame_10.gif');}
.world-frame-11 {background-image: url('../../img/world/frame_11.gif');}
.world-frame-12 {background-image: url('../../img/world/frame_12.gif');}
.world-frame-13 {background-image: url('../../img/world/frame_13.gif');}
.world-frame-14 {background-image: url('../../img/world/frame_14.gif');}
.world-frame-15 {background-image: url('../../img/world/frame_15.gif');}
.world-frame-16 {background-image: url('../../img/world/frame_16.gif');}
.world-frame-17 {background-image: url('../../img/world/frame_17.gif');}
.world-frame-18 {background-image: url('../../img/world/frame_18.gif');}
.world-frame-19 {background-image: url('../../img/world/frame_19.gif');}
