<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="authors" content="Joshua Meza, Jonathan Gomez, Ricardo Grimaldo">
    <title>Internet de las cosas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/internet_of_things.css">
    <link rel="shortcut icon" href="../../img/favicon.ico?" type="image/vnd.microsoft.icon">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html">RySC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../internet_of_things.html">Menú</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container shadow">
        <h1 class="text-center"><a href="../internet_of_things.html">Internet de las cosas</a></h1>
        <br>
        <h4>Modelos de comunicación del Internet de las cosas</h4>
        <p>En marzo de 2015, el Comité de Arquitectura de Internet (IAB) dio a conocer un documento para guiar la creación de redes de objetos inteligentes (RFC 7452) que describe un marco de cuatro modelos de comunicación comunes que utilizan los dispositivos de la IoT, los cuales se presentarán a continuación:</p>
        <h5>Comunicaciones 'dispositivo a dispositivo'</h5>
        <img class="mx-auto d-block pe-3" 
            style="max-width: 40%; float: left; padding: 2% 1% 2% 0" 
            src="../../img/device-to-device.png" alt="Card image cap">
        <p>El modelo de comunicación dispositivo a dispositivo representa dos o más dispositivos que se conectan y se comunican directamente entre sí y no a través de un servidor de aplicaciones intermediario. Estos dispositivos se comunican sobre muchos tipos de redes, entre ellas las redes IP o la Internet, aunque la mayoría de las veces utilizan protocolos como Bluetooth, Z-Wave y ZigBee.</p>
        <p>Estas redes dispositivo a dispositivo permiten que los dispositivos que, para comunicarse e intercambiar mensajes, se adhieren a un determinado protocolo de comunicación logren su función. Por lo general, este modelo de comunicación se utiliza en aplicaciones como sistemas de automatización del hogar para transferir pequeñas cantidades de información para la comunicación entre dispositivos con requisitos relativamente bajos en términos de la tasa de transmisión. Estos podrían ser focos, termostatos y cerraduras de puertas que se envían pequeñas cantidades de información entre sí.</p>
        <h5>Comunicaciones 'dispositivo a la nube'</h5>
        <img class="mx-auto d-block pe-3" 
            style="max-width: 40%; float: right; padding: 2% 1% 2% 0" 
            src="../../img/device-cloud.jpg" alt="Card image cap">
        <p>En este segundo modelo, el dispositivo de IoT se conecta directamente a un servicio en la nube, como un proveedor de servicios de aplicaciones para intercambiar datos y controlar el tráfico de mensajes, usando conexiones Wi-Fi o red ethernet (los mecanismos de comunicación de que se disponga) para conectarse a la red IP, y establecer una conexión con el servicio de la nube. </p>
        <p>Este modelo, aporta más valor al usuario, ya que amplía las capacidades del dispositivo más allá de sus características nativas como permitir acceso remoto a un dispositivo, además de ser potencialmente compatible con impulsar actualizaciones de software para el dispositivo.</p>
        <h5>Modelo 'dispositivo a puerta de enlace'</h5>
        <img class="mx-auto d-block pe-3" 
            style="max-width: 40%; float: left; padding: 2% 1% 2% 0" 
            src="../../img/device-door.jpg" alt="Card image cap">
        <p>En este tercer modelo de comunicación, el dispositivo de la IoT se conecta a través de otro dispositivo que hace de puerta de enlace o intermediario como una forma de llegar a un servicio en la nube. Esto implica que hay un software de aplicación corriendo en un dispositivo de puerta de enlace local, que actúa como intermediario entre el dispositivo y el servicio en la nube y provee seguridad y otras funcionalidades tales como traducción de protocolos o datos. Si la puerta de enlace es un teléfono inteligente, este software podría adoptar la forma de una aplicación que se empareja con el dispositivo de IoT y se comunica con un servicio en la nube. </p>
        <p>Un ejemplo de dispositivos que utilizan este modo de conexión son los dispositivos vestibles (o wearables) que se utilizan para hacer deporte, que al no tener capacidad nativa para conectarse a Internet, utilizan un teléfono inteligente como puerta de enlace local, con una aplicación que facilita la comunicación y transmisión de datos entre el dispositivo y un servicio en la nube.</p>
        <br>
        <h5>Modelo de intercambio de datos a través del back-end</h5>
        <img class="mx-auto d-block pe-3" 
            style="max-width: 50%; float: right; padding: 2% 1% 2% 0" 
            src="../../img/device-back-end.jpg" alt="Card image cap">
        <p>El cuarto modelo extiende esencialmente el modelo 2 de dispositivo a la nube, con una arquitectura de comunicación que permite que los usuarios exporten y analicen datos de objetos inteligentes de un servicio en la nube en combinación con datos de otras fuentes, con el objetivo de permitir que terceros autorizados puedan acceder a los dispositivos y datos del sensor. Esta arquitectura permite agregar y analizar los datos producidos de los dispositivos desplegados en un edificio. </p>
        <p>El modelo de intercambio de datos a través del back-end sugiere que, para lograr la interoperabilidad de los datos de dispositivos inteligentes alojados en la nube, se requiere un enfoque de servicios federados o interfaces de programación de aplicaciones (APIs) en la nube.</p>
    </main>

    <script src="https://kit.fontawesome.com/a2e2b9d23e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../../js/template.js"></script>
</body>
</html>
