<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="authors" content="Joshua Meza, Jonathan Gomez, Ricardo Grimaldo">
    <title>Seguridad en la comunicación de datos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/data_communication_security.css">
    <link rel="shortcut icon" href="../img/favicon.ico?" type="image/vnd.microsoft.icon">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">RySC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container shadow">
        <h1 class="text-center">Seguridad en la comunicación de datos</h1>
        <br>
        <div><img style="max-width: 30%;" 
                src="../img/seguridad-internet.jpg" 
                alt="Card image cap" 
                class="mx-auto d-block">
        </div> 
        <br>
        <p>Debido a que a diario existen comunicaciones e intercambio de datos entre distintos usuarios y computadoras, se necesitan medidas de seguridad en la red para asegurar que los datos que viajen durante su transmisión sean protegidos, cumpliendo los siguientes tres requisitos:</p>
        <p>
            <ul>
                <li><span class="fw-bold">Integridad: </span>La alteración de los datos únicamente será realizada por quienes estén autorizados.</li>
                <li><span class="fw-bold">Confidencialidad: </span>La información solamente será accesible para los entes autorizados y no será expuesta ni revelada para los que no tengan la autorización.</li>
                <li><span class="fw-bold">Disponibilidad: </span>La información y recursos deberán estar disponibles para los entes autorizados.</li>
            </ul>
        </p>
        <p>Si bien el avance de la tecnología ha traído consigo grandes avances y facilidades para la humanidad, a su vez, los cibercriminales y piratas informáticos se vuelven más hábiles en sus distintas amenazas y ataques por lo que, ante nuevos ataques informáticos, distintas medidas y herramientas de seguridad informática son necesarias, mientras que algunas ya se encuentran obsoletas, otras son difíciles de atacar para los cibercriminales debido a su eficiencia, siempre con el mismo objetivo de mantener segura la red de la empresa. 
            Algunos ejemplos de este tipo de herramientas son las <a href="./data_communication_security/dmz.html">redes perimetrales</a>, enfocadas a proteger la red interna y los datos de una empresa de intrusos y amenazas; 
            o las <a href="./data_communication_security/honeynets.html">honeynets</a>, redes “trampa” que sirven para simular un ambiente real y atrapar a los atacantes para controlar y registrar sus acciones.</p>
        <p>Este tipo de herramientas son para evitar y hacer frente a los ataques a la red de transmisión de datos, los cuales se dividen en:</p>
        <img class="mx-auto d-block me-3" 
            style="max-width: 40%; float: left; padding: 2% 1% 2% 0" 
            src="../img/passive-attack.png" alt="Card image cap">
        <h4 class="fw-bold">Ataques pasivos: </h4>
        <p>Son los que “escuchan” o monitorean las transmisiones. En este tipo de ataque se pueden encontrar:
            <ul>
                <li><span class="fw-bold">Divulgación de la información (snooping): </span> Es un tipo de ataque pasivo por medio del cual el atacante se entera de la información transmitida; como por ejemplo escuchar una llamada telefónica, leer un correo electrónico abierto. Si bien no necesariamente significa que los ataques pasivos conozcan la información que fluye en una comunicación, se enfocan más en el conocimiento de ese flujo, volumen, horarios o naturaleza del mismo.</li>
                <li><span class="fw-bold">Análisis de tráfico (conocido como packet sniffing): </span> Consiste en rastrear y recopilar algunos o todos los paquetes que pasan a través de una red de ordenadores. Este tipo de ataque pasivo se realiza cuando el atacante puede determinar la localización e identidad de quienes se están comunicando y determinar el mensaje que está siendo transmitido aun cuando este protegido por medio de cifrado.</li>
            </ul>
        </p>
        <img class="mx-auto d-block me-3" 
            style="max-width: 30%; float: right; padding: 2% 1% 2% 0" 
            src="../img/active-attack.png" alt="Card image cap">
        <h4 class="fw-bold">Ataques activos: </h4>
        <p>Son más directos y peligrosos, consistiendo en la modificación de los datos o creación de flujos de datos falsos. En este tipo de ataques se puede encontrar lo siguiente:
            <ul>
                <li><span class="fw-bold">Enmascaramiento (spoofing): </span> Es la suplantación de un ente autorizado para acceder y obtener información confidencial.</li>
                <li><span class="fw-bold">Repetición: </span> Se realiza con la captura de unidades de datos que se vuelven a retransmitir para producir efectos no autorizados.</li>
                <li><span class="fw-bold">Modificación de mensajes (tampering o data diddling): </span> Incluye la modificación, o en algunos casos, la destrucción no autorizada de datos y recursos.</li>
                <li><span class="fw-bold">Interrupción (jamming o flooding): </span> Es la denegación de servicios a entes autorizados para obtener un fin específico, para obtener perturbaciones sobre la red desmejorando su rendimiento, o incluso inhabilitando la misma.</li>
            </ul>
            Es cuando distintas herramientas, métodos y acciones de prevención por parte de las organizaciones se utilizan, todo con el mismo objetivo de proteger sus datos ante las distintas amenazas cibernéticas que existen, desde minimizar la probabilidad de intromisión con la implantación de elementos de protección y la detección de cualquier intrusión lo antes posible.
        </p>  
        <p>El siguiente video explica de manera gráfica cómo funcionan dos herramientas de seguridad de la comunicación de datos, las <a href="./data_communication_security/dmz.html">redes perimetrales</a> y las <a href="./data_communication_security/honeynets.html">honeynets</a>: </p>
        <div>
            <iframe class="mx-auto d-block"  width="560" height="315" src="https://www.youtube.com/embed/FihkG72z7MQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </main>

    <script src="https://kit.fontawesome.com/a2e2b9d23e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../js/template.js"></script>
</body>
</html>
